<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% load static %}
            {% load bootstrap4 %}
            {% bootstrap_javascript jquery='full' %}
            <link rel="stylesheet" href="{% static 'css/record_app.css' %}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
            <title>Checkout</title>
        </head>
        <body>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
                <a href="#" class="navbar-brand">
                    <h3 class="mb-0">Standard Records</h3>
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/records" class="nav-link">Records</a>
                        </li>
                        <li class="nav-item">
                            <a href="/equipment" class="nav-link">Equipment</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/checkout" class="nav-link">Shopping Cart ({{ item_tally }})</a>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link">Logout {{ items.contents.first.title }}</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="subheader">
                <div class="container-fluid">
                    <h1 class="text-center p-3 my-3">Checkout</h1>
                </div>
            </div>
            <div class="container" id="checkout_container">
                {% if messages %}
                    <ul id="validation_messages" class="messages mt-4 d-flex justify-content-between text-danger">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="row mb-5">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col">
                                <div class="card my-4" id="checkout_forms">
                                    <h5 class="card-header d-inline-block pb-2">Shopping Cart</h5>
                                    <div class="card-body">
                                        <div class="row">
                                            {% for item in current_order.contents.all %}
                                            <div id="item_info" class="col-md-8 col-7">
                                                    <h5 class="card-title">{{ item.title }}</h5>
                                                    <p class="card-subititle mt-2 mb-3 text-muted">{{ item.artist }}</p>
                                                    <p class="card-text text-success">${{ item.price }}</p>
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-5 col-6">
                                                            <select name="quantity" class="form-control mb-3 text-center">
                                                                <option value="QTY">{{ current_order.quantity }}</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <a href="checkout/{{ item.id }}/delete" class="btn btn-sm btn-primary">Remove</a>
                                                    <a href="#" class="btn btn-sm btn-primary">Save for Later</a>
                                                    <hr id="item_separator">
                                            </div>
                                            <div class="col-md-4 col-5">
                                                <img src="{{ item.album_art.url }}" alt="vinyl_pic" class="img-thumbnail mt-2 mb-5" id="checkout_image">
                                            </div>
                                            {% empty %}
                                            <div class="container p-5">
                                                <h2 class="text-center mb-4">Your shopping cart is currently empty!</h2>
                                                <a href="/records" class="btn btn-primary d-block mt-3">Return to Shopping</a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col mb-4">
                                <div class="card" id="checkout_forms">
                                    <h5 class="card-header">Don't Miss Out!</h5>
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-envelope text-primary mr-2"></i> Join our mailing list!</h5>
                                        <p class="card-text">Want to get the most recent updates on our inventory?</p>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="saveInfo">
                                            <label for="saveInfo" class="custom-control-label">Click Here</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-none mb-5">
                            <div class="card" id="checkout_forms">
                                <h5 class="card-header">Order Summary</h5>
                                <div class="card-body">
                                    <p class="card-text">Item Subtotal:</p>
                                    <p class="card-text">Shipping:</p>
                                    <p class="card-text">Price Before Tax:</p>
                                    <p class="card-text">Tax:</p>
                                    <p class="card-text text-success">Total Price:</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#checkout_info" class="btn btn-primary d-block">Contine to Checkout</a>
                                    <a href="/records" class="btn btn-primary d-block mt-3">Return to Shopping</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <form action="/checkout" method="POST" id="checkout_info">
                            {% csrf_token %}
                            <h4 class="my-4">Shipping Address</h4>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" name="shipping_first_name" id="first_name" class="form-control" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" name="shipping_last_name" id="last_name" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address1">Address</label>
                                <input type="text" name="shipping_street_address" id="address" class="form-control" placeholder="1234 Market St.">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="address2">City</label>
                                        <input type="text" name="shipping_city" id="city" class="form-control" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="address2">State</label>
                                        <input type="text" name="shipping_state" id="state" class="form-control" placeholder="State">
                                    </div>
                                </div>
                                <div class="col-4 mb-1">
                                    <div class="form-group">
                                        <label for="address2">Zip Code</label>
                                        <input type="text" name="shipping_zip_code" id="zip" class="form-control" placeholder="Zip Code">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-2">
                                <label for="fullname">Phone Number <span class="text-muted">(Optional)</span></label>
                                <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <label for="specialNotes">Delivery Instructions <span class="text-muted">(Optional)</span></label>
                                <textarea name="delivery_instructions" id="specialNotes" rows="3" class="form-control"></textarea>
                                <small class="text-muted">Include any special delivery instructions you have for us!</small>
                            </div>
                            <hr>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="sameShipping">
                                <label for="sameShipping" class="custom-control-label">Shipping address is same as billing</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="saveInfo">
                                <label for="saveInfo" class="custom-control-label">Save my info for next time</label>
                            </div>
                            <hr>
                            <h4 class="mb-4">Billing Address</h4>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" name="billing_first_name" id="first_name" class="form-control" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" name="billing_last_name" id="last_name" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address1">Address</label>
                                <input type="text" name="billing_street_address" id="address1" class="form-control" placeholder="1234 Market St.">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="address2">City</label>
                                        <input type="text" name="billing_city" id="billing_city" class="form-control" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="address2">State</label>
                                        <input type="text" name="billing_state" id="billing_state" class="form-control" placeholder="State">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="address2">Zip Code</label>
                                        <input type="text" name="billing_zip_code" id="billing_zip" class="form-control" placeholder="Zip Code">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4>Payment Information</h4>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="first_name">First Name</label>
                                        <input type="text" name="payment_first_name" id="first_name" class="form-control" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="last_name">Last Name</label>
                                        <input type="text" name="payment_last_name" id="last_name" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fullname">Card Number</label>
                                <input type="text" name="card_number" id="card_number" class="form-control" placeholder="1234 5678 8765 4321">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="address2">Date</label>
                                        <input type="text" name="expiration_date" id="date" class="form-control" placeholder="MM/YY">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="address2">Security Code</label>
                                        <input type="text" name="security_code" id="security_code" class="form-control" placeholder="CVV">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4>Shipping Options</h4>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="shipMethod" class="custom-control-input" id="sameDay">
                                <label for="sameDay" class="custom-control-label">Same Day Shipping</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="shipMethod" class="custom-control-input" id="nextDay">
                                <label for="nextDay" class="custom-control-label">Next Day Shipping</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="shipMethod" class="custom-control-input" id="slowShip">
                                <label for="slowShip" class="custom-control-label">3-5 Business Days</label>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block my-3">Checkout</button>
                        </form>
                    </div>
                    <div class="col-lg-4 d-lg-inline-block d-none sticky-top">
                        <div class="sticky-top pt-4">
                            <div class="card" id="checkout_forms">
                                <h5 class="card-header">Order Summary</h5>
                                <div class="card-body">
                                    <p class="card-text">Item Subtotal:</p>
                                    <p class="card-text">Shipping:</p>
                                    <p class="card-text">Price Before Tax:</p>
                                    <p class="card-text">Tax:</p>
                                    <p class="card-text text-success">Total Price:</p>
                                </div>
                                <div class="card-footer">
                                    <a href="#checkout_info" class="btn btn-primary d-block">Contine to Checkout</a>
                                    <a href="/records" class="btn btn-primary d-block mt-3">Return to Shopping</a>
                                </div>
                            </div>
                        </div> 
                    </div>               
                </div>
                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
            </div>
            <div id="footer" class="p-3 bg-dark">
                <ul class="nav text-center justify-content-center flex-column flex-sm-row">
                    <li class="nav-item">
                        <a href="/" class="nav-link text-white">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="/records" class="nav-link text-white">RECORDS</a>
                    </li>
                    <li class="nav-item">
                        <a href="/equipment" class="nav-link text-white">EQUIPMENT</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link text-white">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </body>
    </html>