<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% load static %}
            {% load bootstrap4 %}
            {% bootstrap_javascript jquery='full' %}
            <link rel="stylesheet" href="{% static 'css/record_app.css' %}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
            <title>Name Records</title>
        </head>
        <body>
            <nav class="navbar navbar-expand-md navbar-dark bg-danger py-3">
                <a href="#" class="navbar-brand">
                    <h3 class="mb-0">Records Admin Portal</h3>
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/add" class="nav-link">Add A Product</a>
                        </li>
                        <li class="nav-item">
                            <a href="/products" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/orders" class="nav-link">Orders</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="subheader" class="container-fluid">
                <h2 class="text-center p-3 my-3">Orders</h2>
            </div>
            <div class="container">
                <table class="table table-secondary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Billing Address</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for this_user in user_list %}
                            {% for gift in this_user.granted_wishes.all %}
                            <tr>
                                <th scope="row">{{ product.id }}</th>
                                <td>{{ gift.item }}</td>
                                <td>{{ gift.wisher.first_name }}</td>
                                <td>{{ gift.created_at }}</td>
                                <td>{{ gift.time_granted }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>        
            </div>
        </body>
    </html>